  
@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/* ----------------- Colours */
body {
    background-color: #4c4f52;
    font-family: "Roboto" sans-serif;
    overflow-x: hidden;
    color: rgb(211, 209, 209);
}

a {
    color: rgb(211, 209, 209);
    text-shadow: 2px 2px 4px #000000;
}

a:hover {
    color: rgb(211, 209, 209);
    text-shadow: 2px 2px 4px #000000;
}

.fa.fa-file-code {
    color: rgb(211, 209, 209);
}

/* ------ Special margin, padding, and other */
div.container {
    margin-top: 2%;
}

a img {
    max-width: 200px;
}

h1 {
    text-align: center; 
    padding-top: 25px;
}

.text-styling {
    text-shadow: 2px 2px 4px #000000;
    letter-spacing: 1.5px;
}

.text-styling-two {
    text-shadow: 2px 2px 4px #000000;
    letter-spacing: 1.5px;
    font-size: 35px;
}

.header-size {
    font-size: 22px;
}

.content-center {
    text-align: center;
    
}
/*------------------Main content---------*/
.background-img { 
  background: url("/static/images/background.jpeg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 700px; 
}

/*----------------Jumbotron--------*/
div.col-xs-12.col-sm-10.offset-sm-1.col-lg-8.offset-lg-2 {
    padding-top: 10%;
}

.jumbotron {
    text-align: center; 
    color: #000;
    opacity: 1;
}

a.btn.btn-primary.btn-lg {
    color: #fff;
    opacity: 1.0;
    box-shadow: 2px 2px 4px #000000;
}

#grad1 {
  height: 135px;
  background-color: #cccccc;
  background-image: linear-gradient(#000, #4c4f52);
}

.img-website {
    max-width: 300px;
    max-height: 200px;
    border: 1px solid rgb(211, 209, 209);
    padding: 3px;
}

div#kunde {
  height: 60px;
  background-color: #cccccc;
  background-image: linear-gradient(#000, #4c4f52);
  text-align: center;
  padding-top: 10px;
}

/*--------------Boxes in the middle of Index -------*/
#big-box-style {
    border: 1px solid #fff;
    border-radius: 1%;
    background-color: #696969;
    padding: 5%;
}

#big-box-style-one {
    border: 1px solid #fff;
    border-radius: 1%;
    background-color: #696969;
    margin-bottom: 10%;
    margin-top: 5%;
    padding: 5%;
}

#big-box-style-two {
    border: 1px solid #fff;
    border-radius: 1%;
    background-color: #696969;
    margin-bottom: 5%;
    margin-top: 5%;
    padding: 5%;
}

div#padding-content {
    padding-top: 5%;
    padding-bottom: 5%;
}

/*--------------Icons------*/
i.fa.fa-mobile.text-styling {
    font-size: 35px;
}

i.fa.fa-cloud.text-styling {
    font-size: 30px;
}

i.fa.fa-calculator.text-styling {
    font-size: 30px;
}

i.fa.fa-code.text-styling {
    font-size: 30px;
}

i.fa.fa-credit-card.text-styling {
    font-size: 30px;
}

i.fa.fa-window-maximize.text-styling {
    font-size: 30px;
}

img.rounded-circle {
    max-width: 250px;
}

div.col-12 {
    padding-left: 0;
    padding-right: 0;
}

div.col-xs-12.col-lg-8 {
    padding-left: 0;
    padding-right: 0;
}

div.col-xs-12.col-lg-4 {
    padding-left: 0;
    padding-right: 0;
}

div#kundebox {
    padding-top: 5%;
}

/* ---------- Footer */

.panel-heading {
    text-align: center;
    height: 100px;
    background-color: #cccccc;
    background-image: linear-gradient(#000, #4c4f52);
    padding-top: 30px;
}

div.row {
    text-align: center; 
    max-width: 100%;
    margin-left: 0;
    margin-right: 0;
}

div.container {
    padding-left: 0;
    padding-right: 0;
}

i.fa.fa-copyright {
    text-align: center;
    text-shadow: 2px 2px 4px #000000;
}

.text-center {
    text-align: center; 
}

div#footer-box-styling {
    background-color: #cccccc;
    background-image: linear-gradient(#000, #4c4f52); 
}

/*------------ Tjenester ---------*/
.background-img-one {
  background: url("/static/images/code.jpeg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 400px; 
}

#box-styling {
    border: 1px solid rgb(211, 209, 209);
    border-radius: 5px;
    text-shadow: 2px 2px 4px #000000;
    height: 150px; 
    margin-bottom: 30px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.19);
}

div.col-xs-6.col-md-4 {
    padding-left: 0;
    padding-right: 0;
    padding-top: 1.5%;
}

img.rounded {
    width: 100%;
    height: 120px;
    border: 1px solid rgb(211, 209, 209);
}

@media (max-width:629px) {
  img#img-display {
    display: none;
  }
}

div.col-xs-12.col-lg-8 {
    padding-left: 2.5%;
    padding-right: 2.5%;
}

div#panel-header {
    padding-top; 10%;
}

/*----------------WebProdukter--------*/
.img-website-web {
    max-width: 100%;
    max-height: 200px;
    border: 1px solid rgb(211, 209, 209);
    padding: 3px;
    margin-top: 1%;
}

div.header-backgr {
    max-width: 100%;
    max-height: 50px;
    border: 1px solid rgb(211, 209, 209);
    padding: 3px;
    margin: 1%;
    background-color: #cccccc;
    background-image: linear-gradient(#000, #4c4f52);
}

#box-frame {
    border: 2px solid rgb(211,209,209);
    text-align: center;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.19);
    background-color: #cccccc;
    background-image: linear-gradient(#000, #4c4f52);
}

div#box-frame.col-xs-12.col-lg-4 {
    padding-left: 0;
    padding-right: 0; 
    margin-left: 0;
    margin-right: 0;
}

ul.text-control {
    text-align: left;
    margin-top: 5%;
}

h4.spacing {
    padding-top: 3%;
}

.uppercase {
    text-transform: uppercase;
}