{% extends 'base.html' %} {% block content %}

<div id="grad1" class="background-img-one">
	<h1 class="text-styling"></h1>
</div>
<div id="grad2">
	<h1 class="text-styling-two">Om 7 Fjell IT</h1>
</div>
<div class="container extra-padding">
	<h4 class="text-styling">
		7 FiT.no eies og kontrolleres av 7 Fjell IT, et selskapet som ble startet i 2019. Selskapet har som målsetning å
		levere høykvalitets web produkter og SaaS produkter til fornuftige priser. I 7 FiT.no har vi høyt fokus på
		brukervennlighet og tilpasser produktene våre i henhold til kundens ønske og eventuelle utfordringer som kundens
		målgruppe måtte ha.
	</h4>
    <br>
	<p class="text-styling">
		Selv om bedriften er relativt nystartet har teamet bak mer enn 20 års erfaring fra bransjen og vil kunne tilby
		tjenester av svært høy kvalitet. Selskapet skal utfordre bransjen på pris, 7FiT.no mener at bransjen generelt 
        tar en altfor høy pris for sine tjenester, og ønsker å gjøre nettopp noe med dette. For å levere kostandseffektive
        løsninger ønsker 7Fit.no å hjelpe kunden til selvhjelp om dette er noe kunden ønsker. For endel småbedrifter 
        så kan investering i en nettside virke som en unødig kostnad i startfasen, men tilstedeværelse på Internett 
        er ett "must" i 2020 og med dette i tankene har vi utviklet 7-Fit Web. Dette er et produkt som vi vil gi bedriften 
        din både ett "eye-catching" design og ett kraftig uttrykk til dine kunder om at du mener alvor. </p>
    </p>
    <p class="text-styling">
        
        Selv om man skal kunne spare ved å bruke 7FiT.no sine tjenester, skal du som kunde ikke måtte
		fire på kvaliteten på tjenestene. Vi gir en 100% Fornøyd garanti eller ingen betaling. For andre tjenester som
		er abonnementsbasert tilbyr 7FiT.no prøveperioder for test av produktet / tjenesten, for å kunne sikre deg som
		kunde at det er nettopp dette produktet eller tjenesten du er på jakt etter.
	</p>
        <br>
	<p class="text-styling">
		Selskapet jobber i øyeblikket med å få på plass en egen MobilDok løsning, som er planlagt lansering av en MVP
		versjon av i løpet av høsten 2020. MobilDok vil være tilpasset håndverkere og skal være et enkelt produkt å
		bruke
		for både ledelse og ansatte. MobilDok vil sørge for at bedriften vil kunne drive papirløst og sørge for å være
		en
		miljøbevisst og fremtidsrettet bedrift. Med MobilDok vil bedriften samtidig møte dagens og fremtidens krav i
		henhold
		til oppbevaring av persondata for ansatte, dermed sikrer man seg samtidig fra ubehagelige overraskelser som kan
		koste bedriften dyrt om uhellet skulle være ute.
	</p>
        <br>
	<p class="text-styling">
		Med en ledelse som har mer enn 10 års erfaring fra Bygg og anleggsbransjen var det naturlig å utvikle MobilDok
		som
		kunne forenkle hverdagen til tidligere arbeidskollegaer. Mange arbeidere i bygge og anleggsbransjen har lese og
		skrivevansker og dette er noe man tar høyde for, dermed er produktet utviklet med tanken om at det skal være så
		enkelt å bruke, at selv uten noen tidligere datakunnskap skal man enkelt kunne lære seg MobilDok.
	</p>
        <br>
	<p class="text-styling">
		Kontakt oss i dag for en uforpliktende prat for å se hva 7FiT.no kan bidra med, for å sørge for at din bedrift
		møter
		dagens krav og utfordringer i forbindelse med IT-Drift og Internett tjenester ut til kunden.
	</p>
        <br>
        <br>
</div>
{% endblock %}