{% extends 'base.html' %} {% block content %}
<div id="grad1" class="background-img-one">
	<h1 class="text-styling">App utvikling</h1>
</div>
<div class="container">
	<div class="col-12">
		<div class="row">
			<div class="col-xs-12 col-lg-8">
				<h4 class="text-styling">Er det du som sitter med den neste store App idèen? Kontakt oss for en
					uforpliktende
					prat om hvordan vi kan hjelpe deg å realisere appen din.</h4>
				<br>
				<h4 class="text-styling">7FiT.no hjelper deg gjerne med å finne de rette løsningene som sørger for at
					produktutviklingen vil gå raskt og smertefritt i henhold til budsjett og tidsplan. Vi benytter oss
					kun av de
					siste teknologier for utvikling, dette for å kunne levere produkter av høyeste kvalitet.
					<br>
                    Så ikke vent til noen andre lanserer ideen din… Kontakt oss i dag for en uforpliktende prat.</h4>

			</div>
			<div id="box-frame" class="col-xs-12 col-lg-4">
				<div id="box-frame-two">
					<img class="img-website-web" src="{{url_for('static', filename='images/web.jpeg')}}" alt="7FiT.no">
					<div class="header-backgr">
						<h5 class="text-styling">App Utvikling</h5>
					</div>
					<ul class="text-control text-styling">
						<li>Cutting edge design</li>
						<li>Full kontroll over innhold</li>
						<li>Mobiloptimalisert</li>
						<li>100% fornøyd eller ingen betaling!</li>
						<li>Maks leveringstid: 8 uker</li>
					</ul>
				</div>
			</div>
			<br>
			<br>
			<div class="col-12">
				<h4 class="spacing text-styling">"Timing is everything" hvert fall nesten..</h4>
				<p class="text-styling">7FiT.no hjelper deg med å få idèen ut i appenes verden og sammen finner vi veien
					å gå
					som sørger for at du kan realisere appen, som hvem vet? Kanskje er den neste store appen som har
					millioner
					av nedlastninger og sprer seg som en farsott gjennom kontinentene.</p>

				<h4 class="text-styling">Litt om vår prosess for å utvikle din app. </h4>
				<p class="text-styling">Etter en grundig analyse av prosjektet vil vi presentere en prototype av
					produktet for
					å sikre at man kan lansere en så komplett app som mulig. Men i mange tilfeller vil man likevel etter
					lansering
					få tilsendt tips fra brukere, man opplever at noen ting kan være enklere og mer brukervennlig samt
					man ser at
					det kan være lurt å oppgradere appen. Dermed ser man i mange tilfeller at en to trinns utvikling og
					spesielt
					i tilfeller hvor appen har mye innhold vil være nødvendig med flere faser før man har et komplett
					produkt.
					Dermed vil man lansere det man kaller en MVP (Minimal Vaiable Product) først, før man tilslutt
					lanserer en
					komplett app med alle funksjoner og forbedring som er nødvendig.</p>
				<br>
				<h4 class="text-styling">Så ikke vent til noen andre lanserer ideen din… Kontakt oss i dag for en
					uforpliktende prat.</h4>
				<br>
				<br>
            </div>
		</div>
	</div>
</div>

	{% endblock %}