{% extends 'base.html' %} {% block content %}
<div id="grad1" class="background-img-one">
	<h1 class="text-styling">IT-Drift</h1>
</div>
<div class="container">
	<div class="col-12">
		<div class="row">
			<div class="col-xs-12 col-lg-8">
				<h4 class="text-styling">I mange tilfeller vil små og mellomstore bedrifter tjene på å sette vekk
					IT-driften
					til selskapet, på denne måten kan bedriften fokusere på kjernevirksomheten mens andre tar seg av
					IT-Driften.
					7FiT.no tilbyr IT tjenester og vi tar gjerne en prat om hvordan vi kan sikre din bedrift en
					kostnadseffektiv
					IT-drift.</h4>
				<br>
				<h4 class="text-styling">Kontakt oss for en uforpliktende prat om hvordan vi kan sikre deg en trygg og
					effektiv IT-drift.</h4>
			</div>
			<div id="box-frame" class="col-xs-12 col-lg-4">
				<div id="box-frame-two">
					<img class="img-website-web" src="{{url_for('static', filename='images/tech-icon.jpeg')}}" alt="7FiT.no">
					<div class="header-backgr">
						<h5 class="text-styling">IT-Drift</h5>
					</div>
					<ul class="text-control text-styling">
						<li>Cutting edge design</li>
						<li>Full kontroll over innhold</li>
						<li>Mobiloptimalisert</li>
						<li>100% fornøyd eller ingen betaling!</li>
						<li>Maks leveringstid: 8-10 uker</li>
					</ul>
				</div>
			</div>
			<br>
			<br>
		</div>
	</div>
</div>
    {% endblock %}