{% extends 'base.html' %} {% block content %}
<div id="grad1" class="background-img-one">
</div>
<div id="grad2">
    <h1 class="text-styling">Programmeringstjenester</h1>
</div>
<div class="container">
	<div class="col-12">
		<div class="row">
			<div class="col-xs-12 col-lg-8">
				<h4 class="text-styling">Om du har behov for flere medlemmer i utviklings teamet ditt eller en konsulent
					for
					råd i henhold til utvikling, har 7FiT.no tilgjengelige utviklere og konsulenter som man kan leie på
					timesbasis eller for lengre oppdrag. </h4>
				<br>
				<h4 class="text-styling">Vi tilbyr svært konkurransedyktige priser, så ta gjerne kontakt med oss
					før du skal starte ditt neste prosjekt, å se hvilke fordeler du kan oppnå hos 7FiT.no.</h4>
			</div>
			<div id="box-frame" class="col-xs-12 col-lg-4">
				<div id="box-frame-two">
					<img class="img-website-web" src="{{url_for('static', filename='images/code.jpeg')}}" alt="7FiT.no">
					<div class="header-backgr">
						<h5 class="text-styling">Kode</h5>
					</div>
					<ul class="text-control text-styling">
						<li>Cutting edge design</li>
						<li>Full kontroll over innhold</li>
						<li>Mobiloptimalisert</li>
						<li>100% fornøyd eller ingen betaling!</li>
						<li>Maks leveringstid: 8-10 uker</li>
					</ul>
				</div>
			</div>
			<br>
			<br>
			<div class="col-12">
				<h4 class="spacing text-styling">Hvordan gå frem for å leie arbeidskraft.</h4>
				<p class="text-styling">Det er flere måter å leie arbeidskraft og i de fleste tilfeller så er det
					kundens
					erfaring og kunnskap som avgjør hvor prosessen starter. Har man liten eller ingen erfaring kan det
					være
					til stor fordel å skaffe en prosjektleder, som vil sammen med kunde og evt. andre analysere
					prosjektet.
					Dernest vil prosjektleder presentere en tidsramme med en anbefalt bemanningsplan for å kunne gi ett
					stipulert
					tilbud for utvikling. Prosjektleder vil deretter ha den daglige kontakten og oppfølging av
					utviklere, frem
					til prosjektet er klar for overlevering.</p>
				<p class="text-styling">Har man derimot behov for en eller flere teammedlemmer for å kunne holde
					tidsfrister,
					eller av andre årsaker ønsker å bringe inn ekstern kompetanse eller bare flere utviklere til sitt
					prosjekt
					vil vi presentere case på personell som passer beskrivelsen. Her vil du som kunde kunne se
					utdannelse,
					tidligere arbeidsgivere, prosjekter som vedkommende har jobbet med osv. Vi gjennomfører også ønskede
					tester
					før presentasjon for å sikre at vedkommende har nødvendig kunnskap og kompetanse som vil kunne tre
					direkte
					inn i sin tiltenkte rolle. </p>
			</div>
		</div>
	</div>
</div>
    {% endblock %}