{% extends 'base.html' %} {% block content %}
<div id="grad1" class="background-img-one">
	<h1 class="text-styling">Skytjenester</h1>
</div>
<div class="container">
	<div class="col-12">
		<div class="row">
			<div class="col-xs-12 col-lg-8">
				<h4 class="text-styling">7FiT.no tilbyr ikke skytjenester pr. i dag, men sjekk ut vår kommende MobilDok,
					som vil gjøre bedriften din papirløs.</h4>
				<br>
				<h4 class="text-styling">Planlagt lansering av MobilDok er satt til høsten 2020 og vi inviterer 30
					bedrifter
					til å være med i vårt testpanel, når testperiode er fullført og man ruller ut fullversjonen av
					MobilDok, vil
					kundene som er med i testperioden bli belønnet med en kraftig redusert pris på våre allerede lave
					priser og dette
					for inntil de neste 3 år.
					<br>
                      Med MobilDok vil bedriften møte alle krav i henhold til oppbevaring av persondata, samtidig være en fremtidsrettet
                       bedrift som er papirløs.</h4>
			</div>
			<div id="box-frame" class="col-xs-12 col-lg-4">
				<div id="box-frame-two">
					<img class="img-website-web" src="{{url_for('static', filename='images/code.jpeg')}}" alt="7FiT.no">
					<div class="header-backgr">
						<h5 class="text-styling">Skytjenester</h5>
					</div>
					<ul class="text-control text-styling">
						<li>Cutting edge design</li>
						<li>Full kontroll over innhold</li>
						<li>Mobiloptimalisert</li>
						<li>100% fornøyd eller ingen betaling!</li>
						<li>Maks leveringstid: 8-10 uker</li>
					</ul>
				</div>
			</div>
			<br>
			<br>
			<div class="col-12">
				<h4 class="spacing text-styling">Skytjenester</h4>
				<p class="text-styling">Selv om 7FiT.no pr. i dag ikke tilbyr Skytjenester jobber vi på spreng med å få
					på
					plass infrastrukturen for vår egen MobilDok, vårt eget CRM system og prosjektstyringssystem. I
					samsvar med
					lansering av MVP til MobilDok, vil 7FiT.no lansere ett miniprosjektstyringssystem som vil være
					tilknyttet
					MobilDok. Her vil ledere, mellomledere og ansatte kunne fylle ut alle nødvendige skjema, timelister,
					SJA,
					RUH, dagrapporter, mannskapslister m.m. for å enkelt kunne lagre det mot prosjekter, hendelser,
					eller
					andre steder ved behov.</p>
				<p class="text-styling">Med en ledelse som har mer enn 10 års erfaring fra Bygg og anleggsbransjen var
					det
					naturlig å utvikle et produkt som kunne forenkle hverdagen til tidligere arbeidskollegaer. Mange
					arbeidere
					i bygge og anleggsbransjen har lese og skrivevansker og dette er noe man tar høyde for, så produktet
					er
					enkelt å bruke for alle selv uten noen tidligere datakunnskap.</p>
			</div>
		</div>
	</div>

</div>
{% endblock %}