{% extends 'base.html' %} {% block content %}
<div id="grad1" class="background-img-one">
</div>
<div id="grad2">
    <h1 class="text-styling">7 FiT-Web</h1>
</div>
<div class="container">
	<div class="col-12">
		<div class="row">
			<div class="col-xs-12 col-lg-8">
				<h4 class="text-styling">Trenger din bedrift et ansiktsløft for 2020 er 7 FiT-Web løsningen, med 7
					FiT-Web får du en
					mobiloptimalisert nettside som gir bedriften ett profesjonelt ansikt utad. Nettsiden vil vises
					i perfekt format uavhengig av hvilken plattform man benytter. Nettsiden vil ha et cutting edge
					design å gir et solid inntrykk til kundene dine når de besøker deg på nett.</h4>
				<br>
				<h4 class="text-styling">Vi tilbyr flere pakker og størrelser av 7 FiT-Web og etter ønske
					skreddersyr vi løsninger til
					alle kunder i SMB markedet.</h4>
			</div>
			<div id="box-frame" class="col-xs-12 col-lg-4">
				<div id="box-frame-two">
					<img class="img-website-web" src="{{url_for('static', filename='images/web1.jpeg')}}" alt="7FiT.no">
					<div class="header-backgr">
						<h5 class="text-styling">7 FiT-Web</h5>
					</div>
					<ul class="text-control text-styling">
						<li>Cutting edge design</li>
						<li>Full kontroll over innhold</li>
						<li>Mobiloptimalisert</li>
						<li>100% fornøyd eller ingen betaling!</li>
						<li>Maks leveringstid: 8 uker</li>
					</ul>
				</div>
			</div>
			<br>
			<br>
			<div class="col-12">
				<h4 class="spacing text-styling">Ditt ønske vår oppgave!</h4>
				<p class="text-styling">7 FiT-Web leveres med og uten kontrollpanel, hvor du kontrollerer tekst og
					bilder etter behov.
					Det gir muligheten til å oppdatere siden etter ønske og du vil ikke være avhengig av en
					utenforstående
					for å kunne oppdatere siden din. Det vil bli gitt full opplæring av kontrollpanel ved overlevering
					av
					nettsiden. Er det ikke behov for å oppdatere informasjon jevnlig (mindre enn 5-6 ganger pr år) kan
					man sløyfe administrator panelet og spare penger ved oppsett av nettside.</p>
				<h4 class="text-styling">Bli sett</h4>
				<p class="text-styling">Alle nettsider leveres i henhold til Googles algoritme for å kunne oppnå best
					mulig resultat i de kjente
					søkemotorene. Har man mange domener hjelper 7 FiT.no med å rute trafikken til riktig domenet for
					samle
					alle kunder på riktig sted.</p>
				<h4 class="uppercase text-styling">Kundegaranti</h4>
				<div class="text-styling">
					<li>100% fornøyd eller ingen betaling!</li>
					<li>99 % oppetidsgaranti!</li>
					<li>Maks leveringstid: 8 uker</li>
				</div>
				<br>
				<h4 class="text-styling">7 FiT-Web leverer også Wordpress eller Wix produkter.</h4>
				<p class="text-styling">Om man heller ønsker en Wordpress eller Wix side er vi mer en gjerne
					behjelpelige med dette, men
					utover oppsettskostnaden som man betaler til 7 FiT.no vil det tilkomme en månedlig kostnad til
					enten Wordpress eller Wix. Når siden er kommet live er 7 FiT.no ikke lenger ansvarlig for at siden.
					Ettersom Wordpress og Wix kan til tider gjøre oppdatering som kan gjøre systemet ustabilt eller
					settes
					ut av spill for sider som allerede er live, vil man til tider måtte gjøre oppdateringer av server
					osv.
					Dette kan 7 FiT.no hjelpe med men da tilkommer det en pris pr. time for arbeidet som må utføres.</p>
				<br>
				<br>


                </div>
			</div>
		</div>

	</div>
	</body>

	</html>

        {% endblock %}