{% extends 'base.html' %} {% block content %}

<div id="grad1" class="background-img-one">
	<h1 class="text-styling">7 FiT-Shop</h1>
</div>
<div class="container">
	<div class="col-12">
		<div class="row">
			<div class="col-xs-12 col-lg-8">
				<h4 class="text-styling">Nettbutikken 7 FiT-Shop er en SaaS løsning, som betyr at du leier softwaren
					til nettbutikken fra 7 FiT.no, men selv om man leier software for å drive nettbutikk så er domenet,
					kunder og alt materialet deres. Nettbutikken er mobiloptimalisert noe som gir bedriften ett
					profesjonelt ansikt utad, nettsiden vil vises i perfekt format uavhengig av hvilken plattform man
					benytter.</h4>
				<br>
				<h4 class="text-styling">Vi tilbyr flere pakker og størrelser av 7 FiT-Shop og etter ønske
					skreddersyr vi løsninger til
					alle kunder i SMB markedet.</h4>
			</div>
			<div id="box-frame" class="col-xs-12 col-lg-4">
				<div id="box-frame-two">
					<img class="img-website-web" src="{{url_for('static', filename='images/code.jpeg')}}" alt="7FiT.no">
					<div class="header-backgr">
						<h5 class="text-styling">7 FiT-Shop</h5>
					</div>
					<ul class="text-control text-styling">
						<li>Cutting edge design</li>
						<li>Full kontroll over innhold</li>
						<li>Mobiloptimalisert</li>
						<li>100% fornøyd eller ingen betaling!</li>
						<li>Maks leveringstid: 8-10 uker</li>
					</ul>
				</div>
			</div>
			<br>
			<br>
			<div class="col-12">
				<h4 class="spacing text-styling">7 FiT-Shop tilpasset hvordan du driver butikk.</h4>
				<p class="text-styling">7 FiT-Shop leveres i 3 forskjellige størrelser og uavhengig av hvilken pakke man
					velger er bedriften godt dekket med rikelig produkt plass, ubegrenset antall kategorier /
					inndelinger av
					produkter og full lagerstatus. Man kan ved pristillegg få en egen DesignerShop hvor vi designer og
					brander
					nettbutikken i henhold til deres ønske. Den største forskjellen på pakkene ligger i prisen og i
					henhold
					til hvor mye avgifter man betaler for bl.a transaksjonsgebyr.</p>
				<h4 class="text-styling">Hvordan vet jeg hvilken pakke som passer for min bedrift?</h4>
				<p class="text-styling">Om man er nystartet nettbutikk anbefaler vi 7 FiT-ShopNormal som tilbyr alt man
					trenger for å kunne drive en profesjonell nettbutikk, men har noe høyere transaksjonskostnader. Har
					man der i
					mot en nettbutikk i dag med høy omsetning vil man komme best ut av det med 7 FiT-ShopGrand, med en
					høyere
					månedlig avgift og en lavere transaksjonskostnad.</p>
				<h4 class="uppercase text-styling">Kundegaranti</h4>
				<br>
				<div class="text-styling">
					<li>100% fornøyd eller ingen betaling!</li>
					<li>99 % oppetidsgaranti!</li>
					<li>Maks leveringstid: 8 uker</li>
				</div>
				<br>
				<br>


                </div>
			</div>
		</div>

	</div>


	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
	</script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
	</script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
	</script>
	<footer>
		<div id="panel-header">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h2 class="panel-title text-styling">7 FJELL IT - 7FIT.NO</h2>
				</div>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="row">
							<div class="col-sm-12 col-md-4">
								<h3 class="text-styling">OM 7 FJELL IT</h3>
								<p class="text-styling">Selskapet er et ENK og er et lite selskap
									som påtar seg små
									og mellomstore webprosjekter.</p>
								<p class="text-styling">Tjenestene vi tilbyr er websider, webshop,
									CMS system,
									programmeringstjenester m.m.</p>
							</div>
							<div class="col-sm-12 col-md-4">
								<h3 class="text-styling">KONTAKT OSS</h3>
								<p class="text-styling">7 Fjell IT, Morten Viken</p>
								<p class="text-styling">Kirsten Flagstads vei 72<br>5146 BERGEN</p>
									<h5 class="text-styling">E-Post</h5>
									<p class="text-styling">post@7fit.no</p>
							</div>
							<div class="col-sm-12 col-md-4">
								<h3 class="text-styling">XXXXXXXXXX</h3>
								<P class="text-styling">XXXXXXXXX<br>XXXXXXXXXXXX</P>
									<h5 class="text-styling">E-post</h5>
									<p class="text-styling">post@7fit.no</p>
							</div>
						</div>
					</div>
				</div>
				<div class="text-center">
					<i class="fa fa-copyright text-styling"></i>
					<span class="text-styling">All rights reserved 7 FJELL IT</span>
				</div>
			</div>
		</div>
	</footer>
	</body>

	</html>