{% extends 'base.html' %} {% block content %}
<div id="grad1" class="background-img-one">
</div>
<div id="grad2">
    <h1 class="text-styling">7 FiT-Shop</h1>
</div>
<div class="container">
	<div class="col-12">
		<div class="row">
			<div class="col-xs-12 col-lg-8">
				<h4 class="text-styling">Nettbutikken 7 FiT-Shop er en SaaS løsning, som betyr at du leier softwaren
					til nettbutikken fra 7 FiT.no, men selv om man leier software for å drive nettbutikk så er domenet,
					kunder og alt materialet deres. Nettbutikken er mobiloptimalisert noe som gir bedriften ett
					profesjonelt ansikt utad, nettsiden vil vises i perfekt format uavhengig av hvilken plattform man
					benytter.</h4>
				<br>
				<h4 class="text-styling">Vi tilbyr flere pakker og størrelser av 7 FiT-Shop og etter ønske
					skreddersyr vi løsninger til
					alle kunder i SMB markedet.</h4>
			</div>
			<div id="box-frame" class="col-xs-12 col-lg-4">
				<div id="box-frame-two">
					<img class="img-website-web" src="{{url_for('static', filename='images/nettbutikk1.jpeg')}}" alt="7FiT.no">
					<div class="header-backgr">
						<h5 class="text-styling">7 FiT-Shop</h5>
					</div>
					<ul class="text-control text-styling">
						<li>Cutting edge design</li>
						<li>Full kontroll over innhold</li>
						<li>Mobiloptimalisert</li>
						<li>100% fornøyd eller ingen betaling!</li>
						<li>Maks leveringstid: 8-10 uker</li>
					</ul>
				</div>
			</div>
			<br>
			<br>
			<div class="col-12">
				<h4 class="spacing text-styling">7 FiT-Shop tilpasset hvordan du driver butikk.</h4>
				<p class="text-styling">7 FiT-Shop leveres i 3 forskjellige størrelser og uavhengig av hvilken pakke man
					velger er bedriften godt dekket med rikelig produkt plass, ubegrenset antall kategorier /
					inndelinger av
					produkter og full lagerstatus. Man kan ved pristillegg få en egen DesignerShop hvor vi designer og
					brander
					nettbutikken i henhold til deres ønske. Den største forskjellen på pakkene ligger i prisen og i
					henhold
					til hvor mye avgifter man betaler for bl.a transaksjonsgebyr.</p>
				<h4 class="text-styling">Hvordan vet jeg hvilken pakke som passer for min bedrift?</h4>
				<p class="text-styling">Om man er nystartet nettbutikk anbefaler vi 7 FiT-ShopNormal som tilbyr alt man
					trenger for å kunne drive en profesjonell nettbutikk, men har noe høyere transaksjonskostnader. Har
					man der i
					mot en nettbutikk i dag med høy omsetning vil man komme best ut av det med 7 FiT-ShopGrand, med en
					høyere
					månedlig avgift og en lavere transaksjonskostnad.</p>
				<h4 class="uppercase text-styling">Kundegaranti</h4>
				<br>
				<div class="text-styling">
					<li>100% fornøyd eller ingen betaling!</li>
					<li>99 % oppetidsgaranti!</li>
					<li>Maks leveringstid: 8 uker</li>
				</div>
				<br>
				<br>


                </div>
			</div>
		</div>

	</div>
	</body>

	</html>

        {% endblock %}